.post{
    width:100%;
    height: auto;
    background: #EDF7FA;

    &-container{
        //border:1px solid red;
        padding: 0 !important;
    }
    &__header{
        width: 100%;
        min-height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width:768px) {
            
            justify-content: center;
        }
       
    }
    &__title{
        font-size: 22px;
        line-height: 60px;
        color: #21243D;
        
         
    }
    &__link{
        font-size: 16px;
        line-height: 23px;
       
        
        /* Secondry */
        
        color: #00A8CC;
        @media screen and (max-width:768px) {
            display: none;
        }
    }

    &__body{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:768px) {
            flex-direction: column;
            align-items: center;
        }
    }
    
}


.item-post{
    max-width: 418px;
    min-height: 295px;
    margin-bottom: 32px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding:0 23px;
    @media screen and (max-width:884px) {
        max-width: 368px;
    }
    @media screen and (max-width:768px) {
        max-width: 418px;
    }
    &__title{
        font-weight: bold;
        font-size: 26px;
        line-height: 38px;
        margin-top: 24px;
        
        
        
        color: #21243D;
        margin-bottom: 17px;
        @media screen and (max-width:484px) {
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 12px;
        }
    }
    &__date{
        font-size: 18px;
        line-height: 26px;
        
        /* Dark Color */
        
        color: #21243D;
        margin-bottom: 11px;
    }
    &__bare{
        padding:0 26px;
    }
    &__text{
        margin-bottom: 10px;
    }
}