._title-one{
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;

    
    color: #21243D;
    @media screen and (max-width:484px) {
        font-size: 32px;
        line-height: 40px;
        /* or 125% */
        
    text-align: center;        
    }
}

._title-two{
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    @media screen and (max-width:484px) {
        font-size: 24px;
        line-height: 30px;
    }
    
    color: #21243D;
}

._title-three{
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    
    /* Dark Color */
    
    color: #21243D;
}

._text{
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    
    /* Dark Color */
    
    color: #21243D;
}

._container{
    max-width: 857px;
    margin:auto;
    padding:0 15px;
}

._button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 208px;
    height: 47px;
    background: #FF6464;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    
    color: #FFFFFF;
    padding:0 20px;
}